{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/mainpage/mainpage.css' %}"> -->
    <link href="{% sass_src 'css/mainpage/mainpage.scss' %}" rel="stylesheet" type="text/css"/>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>СППР ЯГТУ</title>
</head>

<body>
    <div class="wrapper">
        <header class="header" x-data="{
            open: false,
            init() {
                this.$watch('open', value => {
                    if (value) {
                        document.body.classList.add('body-no-scroll');
                    } else {
                        document.body.classList.remove('body-no-scroll');
                    }
                });
            }
        }">
            <div class="header__logo">
                <a href="https://ystu.ru/">
                    <img class="header__logo" src="{% static 'logo-ygtu.png' %}" alt="Логотип ЯГТУ">
                </a>
            </div>
            <nav class="header__menu" :class="{ 'header__menu--open': open }">
                <a href="https://ystu.ru/admissions/">ПОСТУПАЮЩЕМУ</a>
                <a href="https://ystu.ru/students/">СТУДЕНТУ</a>
                <a href="https://ystu.ru/university/">УНИВЕРСИТЕТ</a>
                <a href="https://ystu.ru/partneram/">ПАРТНЁРАМ</a>
                <a href="https://ystu.ru/contacts/">КОНТАКТЫ</a>
            </nav>
            <button class="header__burger-btn" @click="open = !open">
                <span x-show="!open">☰</span>
                <span x-show="open">✕</span>
            </button>
        </header>

        <section class="title">
            <h1>Калькулятор абитуриента</h1>
            <span>Узнайте свои шансы на поступление в Ярославский государственный технический университет</span>
        </section>

        <section class="form-section">
            <h2>Введите баллы ЕГЭ</h2>
            <form id="scores-form">
                {% csrf_token %}
                <div class="form-section__inputs">
                    <input type="number" id="math" min="0" max="100" placeholder="Математика">
                    <input type="number" id="russian" min="0" max="100" placeholder="Русский язык">
                    <input type="number" id="physics" min="0" max="100" placeholder="Физика">
                    <input type="number" id="informatics" min="0" max="100" placeholder="Информатика">
                    <input type="number" id="chemistry" min="0" max="100" placeholder="Химия">
                    <input type="number" id="biology" min="0" max="100" placeholder="Биология">
                    <input type="number" id="social" min="0" max="100" placeholder="Обществознание">
                    <input type="number" id="history" min="0" max="100" placeholder="История">
                    <input type="number" id="literature" min="0" max="100" placeholder="Литература">
                </div>

                <button type="submit" class="form-section__submit-btn">Показать направления</button>
            </form>
        </section>

        <section id="results" class="results-section">
            <!-- Вывод результатов -->
        </section>
    </div>
    <footer class="footer">
        <div class="footer__columns" x-data="footerAccordion()" x-init="checkScreen()">
            <div class="footer__column">
                <h3 class="footer__title" @click="isMobile && toggleSection('student')">
                    СТУДЕНТУ
                    <span class="footer__accordion-icon" x-show="isMobile" :class="{ 'footer__accordion-icon--open': openSection === 'student' }"></span>
                </h3>
                <ul class="footer__list" x-show="!isMobile || openSection === 'student'" x-cloak>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/students/sotsialnaya-pomoshch/">
                            Социальная поддержка
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link"href="https://ystu.ru/information/students/standart/">
                            Стандарты оформления работ
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/students/normativnye-dokumenty-po-obucheniyu/">
                            Полезные документы
                        </a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://ystu.ru/information/students/pamyatka-studentu/">
                            Памятка студенту
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/students/raspisanie-zanyatiy/">
                            Расписание занятий
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/university/pordrazdelenia/sluzhby-i-otdely/studencheskiy-ofis/">
                            Студенческий офис
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/university/pordrazdelenia/sluzhby-i-otdely/tsentr-razvitiya-karery/">
                            Центр карьеры
                        </a>
                    </li>
                    <li>
                        <a class="footer__link" href="https://ystu.ru/information/students/vneuchebnaya-zhizn/">
                            Профком студентов
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/students/pravovoy-likbez/">
                            Правовой ликбез
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/students/aspirantu-/">
                            Правовой ликбез
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title" @click="isMobile && toggleSection('applicant')">
                    ПОСТУПАЮЩЕМУ
                    <span class="footer__accordion-icon" x-show="isMobile" :class="{ 'footer__accordion-icon--open': openSection === 'applicant' }"></span>
                </h3>
                <ul class="footer__list" x-show="!isMobile || openSection === 'applicant'" x-cloak>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/admissions/napravleniya-podgotovki-i-obrazovatelnye-programmy/">
                            НАПРАВЛЕНИЯ ПОДГОТОВКИ
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/admissions/bakalavriat-zaochnaya-forma/">
                            Заочный бакалавриат (специалитет). Регламент поступления.
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/admissions/bakalavriat-ochnaya-forma/">
                            Очный бакалавриат (специалитет). Регламент поступления.
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/admissions/magistratura/">
                            Магистратура. Регламент поступления.
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/admissions/best/">
                            Программа «Поддержка лучших»
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="https://ystu.ru/information/admissions/obuchenie-dlya-inostrannykh-grazhdan/">
                            Обучение для иностранных граждан
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title" @click="isMobile && toggleSection('university')">
                    УНИВЕРСИТЕТ
                    <span class="footer__accordion-icon" x-show="isMobile" :class="{ 'footer__accordion-icon--open': openSection === 'university' }"></span>
                </h3>
                <ul class="footer__list" x-show="!isMobile || openSection === 'university'" x-cloak>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/ob-universitete/">
                            Добро пожаловать в ЯГТУ!
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/pravila-priema-na-obuchenie-po-programmam-spo/">
                            Правила приема на обучение по программам СПО
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/users/">
                            Сотрудники и преподаватели
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/nauka/">
                            Наука
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/istoriya/">
                            История
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/rekvizity-i-firmennyy-stil/">
                            Реквизиты
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/arkhiv/">
                            Архив
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/endaument-fond-yagtu/">
                            Эндаумент-фонд ЯГТУ
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/sveden/">
                            Сведения об образовательной организации
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://www.ystu.ru/university/pordrazdelenia/sluzhby-i-otdely/mil/">
                            Военный учебный центр
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/otsenka-kachestva-raboty-yagtu/">
                            Оценка качества работы ЯГТУ
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://www.ystu.ru/wprog/og/">
                            Обращения граждан
                        </a>
                    </li>
                    <li class="footer__item">
                        <a  class="footer__link" href="https://ystu.ru/information/university/protivodeystvie-korruptsii/">
                            Противодействие коррупции
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title" @click="isMobile && toggleSection('contacts')">
                    Контакты
                    <span class="footer__accordion-icon" x-show="isMobile" :class="{ 'footer__accordion-icon--open': openSection === 'contacts' }"></span>
                </h3>
                <div class="footer__contacts" x-show="!isMobile || openSection === 'contacts'" x-cloak>
                    <p class="footer__contact"><strong>+7 (4852) 40-21-99</strong><br>По общим вопросам</p>
                    <p class="footer__contact"><strong>8-800-250-76-77</strong><br>По вопросам поступления</p>
                    <p class="footer__address">150023, г. Ярославль,<br>Московский пр., д. 88</p>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-content">
                <div class="footer__copyright">© 1944–2025, ФГБОУ ВО «ЯГТУ»</div>
                <div class="footer__links">
                    <a href="#" class="footer__bottom-link">IT поддержка</a>
                    <a href="#" class="footer__bottom-link">Почта Office 365</a>
                    <a href="#" class="footer__bottom-link">ГОД СЕМЬИ</a>
                </div>
            </div>
    </footer>

    <script src="{% static 'js/mainpage/mainpage.js' %}" defer></script>
    <script>
        function footerAccordion() {
            return {
                openSection: '',
                isMobile: false,
                checkScreen() {
                    this.isMobile = window.innerWidth <= 1000;
                    window.addEventListener('resize', () => {
                        this.isMobile = window.innerWidth <= 1000;
                    });
                },
                toggleSection(section) {
                    if (this.openSection === section) {
                        this.openSection = '';
                    } else {
                        this.openSection = section;
                    }
                }
            }
        }
    </script>
</body>

</html>